$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.title h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

textarea#inputArea {
    width: 100%;
    height: 300px;
    border: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

#langHolder {
    display: inline-block;
}

#btnHolder {
    display: inline-block;
}
