<div>

	<h1 id="title">Trans App</h1>

	<div class="span12">
		<textarea rows="4" cols="50" id="inputArea"></textarea>
	</div>


	<div id="langHolder">
		<select ng-model="language" ng-options="l.name for l in languages">
		    <option value="">-- chose language --</option>
		</select>
	</div>


	<div id="btnHolder">
		<button ng-click="translate(language.code)">Translate</button>
	</div>

	<div id="translatedText" ng-bind="translatedText">
	</div>

</div>
